* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 15px;
    border: none;
    border-radius: 0px;
}

window#waybar {
    /* Темно-зеленый оттенок с прозрачностью для блюра */
    background: rgba(0, 0, 0, 1); 
    color: #ffffff; /* Хакерский зеленый */
    border-bottom: none;
    border: none; 
    border-bottom: none;
    box-shadow: none;
}

#workspaces button {
    padding: 0 10px;
    color: #b5b3b3;
}

#workspaces button.active {
    color: #ffffff;
    background: rgba(250, 250, 250, 0.1);
    text-shadow: 0 0 5px #ffffff;
    
}
#workspaces button:hover {
    color: #ffffff;            
    background: #616161;        
    opacity: 0.6;                
}
/* Эффект блоков для каждого модуля */
#cpu, #memory, #temperature, #network, #pulseaudio, #battery, #clock, #custom-launcher {
    padding: 0 12px;
    margin: 4px 2px;
    background: rgba(0, 255, 153, 0.0);
}

#clock {
    color: #ffffff;
    font-weight: bold;
}
